<div class="card">
    <div class="img-card">
        <img src="Gourmet Restaurant.jpg">
    </div>
    <div class="text-card">
    <h4>Gourmet Restaurant</h4>
    <p><i class="fa-solid fa-location-dot"></i> Vitosha 25, Sofia</p>
    <p> Mediterranean</p>
    <p><i class="fa-solid fa-star"></i> 4.7</p>
    <button class="Order">Order now</button>
</div>
</div>

<div class="card">
    <div class="img-card">
        <img src="Gourmet Restaurant.jpg">
    </div>
    <div class="text-card">
    <h4>Gourmet Restaurant</h4>
    <p><i class="fa-solid fa-location-dot"></i> Vitosha 25, Sofia</p>
    <p> Mediterranean</p>
    <p><i class="fa-solid fa-star"></i> 4.7</p>
    <button class="Order">Order now</button>
</div>
</div>

