<h1><i class="fa-solid fa-cart-shopping"></i> Your Shopping Cart </h1>
<p class="headline">Hey there!</p>
<p class="headline">Here’s what you’ve picked so far. We hope you love it!</p>
<div class="shop-cart">
    <div class="cards">
            <div class="card">
                <div class="img-card">
                    <img src="food1.jpg">
                </div>
                <div class="text-card">
                <a href=""><i class="fa-solid fa-xmark"></i></a>    
                <h4>Grilled Pork Neck Steak</h4>
                <p>Tender and juicy pork neck, grilled to perfection and seasoned with a house spice blend.
                     Served with a side of fresh seasonal garnish.</p>
                <p>300g</p>
                <p>14.90 BGN</p>
                <label for="count">Quantity: </label>
                <input type="number" id="count" name="count" min="0"/>
            </div>
            </div>
    </div>
    <div class="shop-info">
        <p><b>Subtotal: 29.99 lv</b></p>
        <p>Service fee: 1.00 lv</p>
        <p>Delivery fee: 2.05 lv</p>
        <h4>Total items: 1</h4>
        <h4>Total price: 33.04 lv</h4>
        <a href=""><button class="Buy">Buy</button></a>
    </div>
</div>
