<div class="menu-cards">
    <h2>Welcome to our menu!</h2>
    <div class="cards">
            <div class="card">
                <div class="img-card">
                    <img src="food1.jpg">
                </div>
                <div class="text-card">
                <h4>Grilled Pork Neck Steak</h4>
                <p>Tender and juicy pork neck, grilled to perfection and seasoned with a house spice blend.
                     Served with a side of fresh seasonal garnish.</p>
                <p>300g</p>
                <p>14.90 BGN</p>
                <a href="" class="button">Add</a>
            </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="food1.jpg">
                </div>
                <div class="text-card">
                <h4>Food Name</h4>
                <p>Description</p>
                <p>Portion Size</p>
                <p>Price</p>
                <button class="Add">Add</button>
            </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="Gourmet Restaurant.jpg">
                </div>
                <div class="text-card">
                <h4>Food Name</h4>
                <p>Description</p>
                <p>Portion Size</p>
                <p>Price</p>
                <button class="Add">Add</button>
            </div>
            </div>
    </div>
</div>
