<nav>
    <ul>
        @if(!isLoggedIn){
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Help</a></li>
        } @else{
        <li><a href="">Catalog</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Logout</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Help</a></li>
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
        }
    </ul>
</nav>