

body{
    background-color: #FFDBDB;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
}

.paragraph{
    width: 500px;
    margin: 60px;
    margin-top: 150px;
    margin-left: 70px;
    color: rgb(59, 4, 4);;
}
.paragraph p{
    text-align: justify;
}
.paragraph h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraph li{
    background-color: rgb(59, 4, 4);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
}

.delivery img{
    width: 70%;
}


.logo img{
    width: 50%;
}
.logo{
    margin-top: -100px;
    margin-left: 100px;
}

.delivery{
    margin-top: -500px;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 0px;
}
.shadow img{
    width: 70%;
}
.shadow{
    align-items: center; 
    margin-left: 200px;
    margin-top: -419px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

