

<div class="main">
    <div class="left">
       <nav-bar-root></nav-bar-root>
        <div class="paragraph">
            <h2>Bunny-Fast Bites, Anytime!</h2>
            <p>Feeling hungry? We’ve got you covered!</p>
            <p>Explore the menu, place your order, and enjoy fresh, hot, and tasty food in no time—no hassle, just great flavors.</p>
            <p><b>Order now and let us handle the rest!</b></p>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="logo">
            <img src="logo2.png" alt="" >
        </div>
        <div class="delivery">
            <img src="home.png" alt="">
        </div>

    </div>
</div>
<footer-root></footer-root>


<router-outlet />
