<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main">
    <div class="left">
        <nav>
            <ul>
                <li>Home</li>
                <li>Login</li>
                <li>Register</li>
                <li>About Us</li>
                <li>Help</li>
            </ul>
        </nav>
        <div class="paragraph">
            <h2>Fast. Delicious. Delivered to Your Door!</h2>
            <p>Feeling hungry? We’ve got you covered!</p>
            <p>Explore the menu, place your order, and enjoy fresh, hot, and tasty food in no time—no hassle, just great flavors.</p>
            <p><b>Order now and let us handle the rest!</b></p>
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <img src="food delivery app.png" alt="">
    </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
