<form action=" " method="post">
    <fieldset>
        <h2>Register</h2>
        <p class="field">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
        </p>
        <p class="field">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
        </p>
        <label for="gender">Choose your gender</label>
        <div class="gender-options">
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
        <p class="field">
            <label for="address"><i class="fa-solid fa-location-dot"></i>Address</label>
            <input type="text" name="address" id="address">
        </p>
        <p class="field">
            <label for="numPhone"><i class="fa-solid fa-phone"></i>Phone number</label>
            <input type="tel" name="numPhone" id="numPhone">
        </p>
        <p class="field">
            <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
            <input type="email" name="email" id="email">
        </p>
        <p class="field">
            <label for="password"><i class="fa-solid fa-lock"></i>Password</label>
            <input type="password" name="password" id="password">
            <legend>at least 8 characters long, mix of upper/lowercase, numbers, symbols</legend>
        </p>
        <p class="field">
            <label for="password-repeat"><i class="fa-solid fa-lock"></i>Repeat Password</label>
            <input type="password" name="password-repeat" id="password-repeat">
        </p>
        <input type="submit" id="submit" value="Register">
        <div class="socialRegister">
        <p>or register with</p>
        <ul>
            <li><a href=" "><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=" "><i class="fa-brands fa-google"></i></a></li>
        </ul>
    </div>
        <p class="center">Already have an account?<a routerLink="/login"><b> Login</b></a></p>
    </fieldset>
</form>
