<div class="search-menu">
    <div class="heading">
    <h2>Craving something delicious?</h2>
    </div>
    <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Hop in! Find your next bite..." class="search-input" />
        <i class="fa-solid fa-location-dot"></i>
        <input list="address-choice" id="address" name="address" class="address-input" />
        <datalist id="address-choice">
         <option value="Block 3, Sofia"></option>
         <option value="Center, Sofia"></option>
        </datalist>
    </div>     
    <ul>
        <li>
            <div class="category-card">
            <a href=""><img src="burgers.png" alt="">burgers</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="pizza.png" alt="">pizza</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="passta.png" alt="">pasta</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="healty.png" alt="">healthy</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="assian.png" alt="">asian</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="desserts.png" alt="">desserts</a>
        </div>
        </li>
    </ul>
</div>
<div class="item-list">
    <div class="cards">
    <div class="card">
        <div class="img-card">
            <img src="Gourmet Restaurant.jpg">
        </div>
        <div class="text-card">
        <h4>name</h4>
        <p><i class="fa-solid fa-location-dot"></i>address</p>
        <p>foodType</p>
        <div class="ran-time">
        <p><i class="fa-solid fa-star"></i>rating</p>
        <p><time datetime="time"><i class="fa-solid fa-clock"></i> timeDelivery</time></p>
        </div>
       <!-- <a class="button" [routerLink]="restaurant.restaurantId"><button>View menu</button></a>-->
        <button class="Order"><i class="fa-solid fa-heart"></i>Favorite</button>
    </div>
    </div>
    </div>
</div>
