<form action=" " method="post">
    <fieldset>
        <h2>Register</h2>
        <p class="field">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
        </p>
        <p class="field">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
        </p>
        <p class="field">
            <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
            <input type="email" name="email" id="email">
        </p>
        <p class="field">
            <label for="password"><i class="fa-solid fa-lock"></i>Password</label>
            <input type="password" name="password" id="password">
            <legend>at least 8 characters long, mix of upper/lowercase, numbers, symbols</legend>
        </p>
        <p class="field">
            <label for="password-repeat"><i class="fa-solid fa-lock"></i>Repeat Password</label>
            <input type="password" name="password-repeat" id="password-repeat">
        </p>
        <input type="submit" id="submit" value="Register">
        <div class="socialRegister">
        <p>or register with</p>
        <ul>
            <li><a href=" "><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=" "><i class="fa-brands fa-google"></i></a></li>
        </ul>
    </div>
        <p class="center">Already have an account?<a href=""><b> Login</b></a></p>
    </fieldset>
</form>
