<div class="order">
<div class="container">
    <h1>Order #12345</h1>
    <div class="info">
      <p><strong>Customer Name:</strong> John Doe</p>
      <p><strong>Address:</strong> Studentski grad 12</p>
      <p><strong>Restaurant:</strong>Piazza Italy, ul. Opulchenska 12, Mladost 1</p>
      <p><strong>Items:</strong> Margherita Pizza, Cola</p>
      <p><strong>Status:</strong> new</p>
    </div>

    <!-- Show only the button that matches the status -->

    <!-- For status: new -->
    <button class="btn btn-start">Accept</button>

    <!-- For status: active -->
    <!-- <button class="btn btn-complete">Mark as Completed</button> -->

    <!-- For status: completed -->
    <!-- <button class="btn btn-done" disabled>Completed</button> -->

  </div>
</div>
