<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <h2>Login</h2>
        
        <div class="alert alert-danger" *ngIf="error">
            {{ error }}
        </div>
        
        <div class="field">
            <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
            <input type="email" formControlName="email" id="email" 
                   [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
            <div *ngIf="submitted && f['email'].errors" class="text-danger">
                <legend *ngIf="f['email'].errors['required']">Email is required</legend>
                <legend *ngIf="f['email'].errors['email']">Email must be a valid email address</legend>
            </div>
        </div>
        
        <div class="field">
            <label for="password"><i class="fa-solid fa-lock"></i>Password</label>
            <input type="password" formControlName="password" id="password"
                   [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <div *ngIf="submitted && f['password'].errors" class="text-danger">
                <legend *ngIf="f['password'].errors['required']">Password is required</legend>
            </div>
            <div *ngIf="!submitted && !f['password'].errors">
                <legend>Forgot password?</legend>
            </div>
        </div>
        
        <button type="submit" id="submit" [disabled]="loading">
            {{ loading ? 'Loading...' : 'Login' }}
        </button>
        
        <div class="socialLogin">
            <p>or login with</p>
            <ul>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-google"></i></a></li>
            </ul>
        </div>
        
        <p class="center">Don't have an account? <a routerLink="/register"><b>Register</b></a></p>
    </fieldset>
</form>