<form action=" " method="post">
    <fieldset>
        <h2>Login</h2>
        <p class="field">
            <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
            <input type="email" name="email" id="email">
        </p>
        <p class="field">
            <label for="password"><i class="fa-solid fa-lock"></i>Password</label>
            <input type="password" name="password" id="password">
            <legend>Forgot password?</legend>
        </p>
        <input type="submit" id="submit" value="Login">
        <div class="socialLogin">
        <p>or login with</p>
        <ul>
            <li><a href=" "><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=" "><i class="fa-brands fa-google"></i></a></li>
        </ul>
    </div>
        <p class="center">Don't have an account? <a routerLink="/register"><b>Register</b></a></p>
    </fieldset>
</form>