<div class="cards">
    @if (loading) {
        <app-loading-spinner></app-loading-spinner>
    } @else if (error) {
        <div class="error-message">{{ error }}</div>
    } @else {
        @for (restaurant of restaurants; track $index) {
            <div class="card">
                <div class="img-card">
                    <img src="Gourmet Restaurant.jpg" alt="{{ restaurant.name }}">
                </div>
                <div class="text-card">
                    <h4>{{restaurant.name}}</h4>
                    <p><i class="fa-solid fa-location-dot"></i>{{restaurant.address}}</p>
                    <p>{{restaurant.foodType}}</p>
                    <div class="ran-time">
                        <p><i class="fa-solid fa-star"></i>{{restaurant.rating}}</p>
                        <p><time datetime="time"><i class="fa-solid fa-clock"></i> {{restaurant.timeDelivery}}</time></p>
                    </div>
                    <a class="button" [routerLink]="['/catalog', restaurant.id]"><button>View menu</button></a>
                    <a class="button" (click)="addToFavorites($event, restaurant.id)"><button><i class="fa-solid fa-heart"></i> Favorite</button></a>
                </div>
            </div>
        }
    }
</div>