<footer>
    <div class="content">
        <div class="workTime">
            <h4>Working Hours</h4>
            <p>Monday – Sunday: 10:00 AM – 11:00 PM</p>
        </div>
        <div class="contact">
            <h4>Contact Us</h4>
            <p>Address: prof. Georgi Bradustilov 11, Sofia, Bulgaria</p>
            <p>Phone: +359 888 123 456</p>
            <p>Email: support&#64;bunnybitefood.com</p>
        </div>
        <div class="socialMedia">
            <h4>Follow Us</h4>
        </div>
    </div>
    <p class="span">&copy; 2025 Bunny Bite. All Rights Reserved.</p>
</footer>