<div class="profile-page">
    <div class="info-client">
        <div class="img">
        <img src="profile.png">
        </div>
        <div class="text">
        <h3>Aleksandra Lilova</h3>
        <p><b>Gender:</b> Female</p>
        <p><b>Email:</b> alilova&#64;tu-sofia.bg</p>
        <p><b>Phone Number:</b> 0878675678</p>
        <p><b>Address:</b> Studentski grad 14</p>
        </div>
        <button type="submit">Edit</button>
    </div>
    <div class="favorites">
        <h2>Favorite Resturants:</h2>
        <div class="list-items">
            <div class="cards">
                <div class="card">
                    <div class="img-card">
                        <img src="Gourmet Restaurant.jpg">
                    </div>
                    <div class="text-card">
                    <h4>name</h4>
                    <p><i class="fa-solid fa-location-dot"></i>address</p>
                    <p>foodType</p>
                    <div class="ran-time">
                    <p><i class="fa-solid fa-star"></i>rating</p>
                    <p><time datetime="time"><i class="fa-solid fa-clock"></i> timeDelivery</time></p>
                    </div>
                    <button class="Order">View menu</button>
                </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="Gourmet Restaurant.jpg">
                    </div>
                    <div class="text-card">
                    <h4>name</h4>
                    <p><i class="fa-solid fa-location-dot"></i>address</p>
                    <p>foodType</p>
                    <div class="ran-time">
                    <p><i class="fa-solid fa-star"></i>rating</p>
                    <p><time datetime="time"><i class="fa-solid fa-clock"></i> timeDelivery</time></p>
                    </div>
                    <button class="Order">View menu</button>
                </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="Gourmet Restaurant.jpg">
                    </div>
                    <div class="text-card">
                    <h4>name</h4>
                    <p><i class="fa-solid fa-location-dot"></i>address</p>
                    <p>foodType</p>
                    <div class="ran-time">
                    <p><i class="fa-solid fa-star"></i>rating</p>
                    <p><time datetime="time"><i class="fa-solid fa-clock"></i> timeDelivery</time></p>
                    </div>
                    <button class="Order">View menu</button>
                </div>
                </div>
        </div>
        
    </div>

</div>
<div class="last order">
    <h2>Previous orders:</h2>
    <div class="list-items">
        <div class="order">
            <data>20.04.2025</data>
            <div class="card">
                <div class="img-card">
                    <img src="Gourmet Restaurant.jpg">
                </div>
                <div class="text-card">
                <h4>Food Name</h4>
                <p>Description</p>
                <p>Portion Size</p>
                <p>Price</p>
                <button class="Add">Add</button>
            </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="Gourmet Restaurant.jpg">
                </div>
                <div class="text-card">
                <h4>Food Name</h4>
                <p>Description</p>
                <p>Portion Size</p>
                <p>Price</p>
                <button class="Add">Add</button>
            </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="Gourmet Restaurant.jpg">
                </div>
                <div class="text-card">
                <h4>Food Name</h4>
                <p>Description</p>
                <p>Portion Size</p>
                <p>Price</p>
                <button class="Add">Add</button>
            </div>
            </div>
    </div>
    </div>
</div>
</div>
