<div class="menu-page">
    <div class="info-restaurant">
        <div class="img">
        <img src="Gourmet Restaurant.jpg">
        </div>
        <div class="text">
        <h3>Gourmet Restaurant</h3>
        <p><i class="fa-solid fa-location-dot"></i><b> Address:</b> Vitosha 25, Sofia</p>
        <p><i class="fa-solid fa-utensils"></i><b> Food Type:</b> Seafood</p>
        <p><i class="fa-solid fa-phone"></i><b> Phone number:</b> 0876563456</p>
        <p><i class="fa-solid fa-star"></i><b> Rating:</b> 4.5</p>
        <p><i class="fa-solid fa-clock"></i><b> Delivery Time:</b> 30 min</p>
        </div>
        <button type="submit"><i class="fa-solid fa-heart"></i> Favorite</button>
    </div>
    <div class="menu-item">
        <app-menu-item/>
    </div>
</div>
