<div class="search-menu">
    <h2>Filters:</h2>
    <ul>
        <li>
            <div class="category-card">
            <a href=""><img src="burgers.png" alt="">burgers</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="pizza.png" alt="">pizza</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="passta.png" alt="">pasta</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="healty.png" alt="">healthy</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="assian.png" alt="">asian</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><img src="desserts.png" alt="">desserts</a>
        </div>
        </li>
        <li>
            <div class="category-card">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i>search more</a>
        </div>
        </li>
    </ul>
</div>
<div class="item-list">
    <app-item-list></app-item-list>
</div>


